<VirtualHost 127.0.0.1:{{ graphite_ui_port }}>
    ServerName graphite-web

	WSGIDaemonProcess {{ graphite_user }} processes=5 threads=5 display-name='%{GROUP}' inactivity-timeout=120 user={{ graphite_user }} group={{ graphite_user }}
	WSGIProcessGroup {{ graphite_user }}

	WSGIImportScript /usr/share/graphite/graphite-web.wsgi process-group={{ graphite_user }} application-group=%{GLOBAL}
	WSGIScriptAlias / /usr/share/graphite/graphite-web.wsgi

	Alias /content/ {{ graphite_content_dir }}
	<Location "/content/">
		SetHandler None
	</Location>

	Alias /media/ "/usr/lib/python2.7/site-packages/django/contrib/admin/media/"
	<Location "/media/">
		SetHandler None
	</Location>

	ErrorLog /var/log/httpd/graphite-web-error.log
	CustomLog /var/log/httpd/graphite-web-access.log combined

	<Directory "/usr/share/graphite/">
    	<IfModule mod_authz_core.c>
        	# Apache 2.4
         	Require local
		</IfModule>
		<IfModule !mod_authz_core.c>
			# Apache 2.2
			Order Deny,Allow
			Deny from all
			Allow from 127.0.0.1
			Allow from ::1
		</IfModule>
	</Directory>
</VirtualHost>

